
@font-face{
    font-family: flowers;
    src: url(./assets/Moon\ Flower.ttf);
}

body {
    background-image: url(./Imagenes/background\ propio.png);
    font-family: flowers;
}

nav {
    display: flex;
    justify-content: space-evenly;
    padding: 3%;
    background-color: #efdfef;
}

nav > a{
    text-decoration: none;
    color: black;
    font-size: 44px;
}

.cont-home{
    background-color: #d0f5e8;
    width: 600px;
    height: 600px;
    border-radius: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 58px;
    
    font-size: 50px;
    text-align: center;
    margin-right: 7%;
}

.cont-home > h2{
    font-size: 90px;
    font-weight: 800;
}
.cont-presen-home{
    display: flex;
    align-items: center;
    margin-top: 15%;
}

.presentacion-home > h1{
    font-size: 50px;
    font-weight: 900;
}

.cont-presen-home > img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-right: 11%;
}

.cont-about{
    background-color: #d1bae7;
    width: 600px;
    height: 600px;
    border-radius: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
}

.cont-about > h2{
    font-size: 90px;
    font-weight: 800;
}

.presentacion-about h3{
    font-size: 40px;
    text-align: center;
    
}

.nombre{
    font-weight: 900;
}

.texto-about{
   text-align: center; 
   width: 80%;
   font-size: 29px; 
}

.conte-skills{
    background-color: #d3e0f5;
    width: 600px;
    height: 600px;
    border-radius: 315px;
    display: flex;
    flex-direction: column;
    
}

.conte-skills > h2{
    font-size: 90px;
    font-weight: 800;
    text-align: center;
}

.html{
    padding-left: 134px;
    padding-top: 55px;

}
.html>img{
    width: 35px;
    height: 35px;
    margin-right: 15px;
    margin-top: 17px;
}

.html>p{
    font-size: 50px;
    margin-right: 20px;
}

.css{
    padding-left: 134px;
}

.css>img{
    width: 35px;
    height: 35px;
    margin-right: 15px;
    margin-top: 17px;
}

.css>p{
    font-size: 50px;
    margin-right: 20px;
}

.boostrap{
    padding-left: 134px;
}

.boostrap>p{
    font-size: 50px;
    margin-right: 20px;
}

.boostrap>img{
    width: 35px;
    height: 35px;
    margin-right: 15px;
    margin-top: 17px;
}
.cont-education{
    background-color: #ebc8d9;
    width: 600px;
    height: 600px;
    border-radius: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 50%;
}


.cont-education > h2{
    font-size: 85px;
    font-weight: 800;
    margin-top: 20px;
}

.info1-education{
    margin-top: 1%;
    font-size: 30px;
    width: 66%;
    display: flex;
}

.parrafos1-education> p{
    margin-bottom: 0;
}

.info2-education{
    margin-top: 8%;
    font-size: 30px;
    width: 66%;
    display: flex;
}

.parrafos2-education> p{
    margin-bottom: 0;
}

.img-flor{
    margin-right: 10%;
    height: 35px; 
    width: 35px;
}

.cont-contact{
    background-color: #f1f1c8;
    width: 600px;
    height: 600px;
    border-radius: 315px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.cont-contact > h2{
    margin-top: 4%;
    font-size: 90px;
    font-weight: 800;
}

.logos{
    padding-left: 12%;
    padding-top: 20%;
}

.logos > a > img{
    width: 48%;
    margin-left: 5%;
}

footer{
    background-color: #efdfef;
    display: flex;
    justify-content: space-evenly;
    margin-top: 58px;
    height: 70px;
    align-items: center;
}

.cont-footer{
    font-size: 24px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}